#LeftColumn-main {
  position: relative;
}

.TabList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: var(--color-background);
  box-shadow: 2px 0 2px var(--color-light-shadow);

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    box-shadow: 0 0 1px transparent;
  }
}

.chat-list.custom-scroll.Transition_slide.Transition_slide-active, .LeftSearch--content.custom-scroll.Transition_slide.Transition_slide-active, .LeftSearch--content.Transition_slide.Transition_slide-active {
  padding-left: 100px;
}

.Tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ChatFolder-main-icon {
  font-size: 1.5rem;
  color: var(--color-text-secondary);
  margin-bottom: 1rem;
}

.Tab.Tab--active .ChatFolder-main-icon {
  color: var(--color-primary);
}

.Tab .Tab_inner {
  white-space: wrap;
  font-size: 0.875rem;
}